#Navigation-projects-container {
    width: 175px;
    height: 400px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Navigation-project {
    display: flex;
    width: 175px;
}
.Navigation-project-number-container {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.Navigation-project-hashtag {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -0.3em;
    align-self: flex-end;
}
.Navigation-project-number {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -0.3em;
    width: 20px;
}

.Navigation-project-info {
    width: 126px;
    height: 16px;
    font-style: normal;
    padding-top: 5px;
}
.Navigation-project-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
.Navigation-project-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.Nav-slide-left {
	-webkit-animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes Nav-slide-left {
    0% {
      -webkit-transform: translateX(60px);
              transform: translateX(60px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
}
  @keyframes Nav-slide-left {
    0% {
      -webkit-transform: translateX(60px);
              transform: translateX(60px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
}

#hashtag-1 {
    margin-bottom: -4px;
}
#hashtag-2 {
    padding-right: 3px;
    margin-bottom: -6px;
}
#hashtag-3 {
    padding-right: 2px;
    margin-bottom: -4px;
}
#hashtag-4 {
    padding-right: 4px;
    margin-bottom: -4px;
}
#hashtag-5 {
    padding-right: 2px;
    margin-bottom: -4px;
}