.Projects-projects-container {
    display: flex;
    flex-wrap: wrap;
}
.Projects-project-container {
    width: 50%;
    position: relative;
    aspect-ratio: 1; /* 1:1 aspect ratio */
    border: 1px solid #0E0E0C;
    background-size: cover;
}
.Projects-project-container:nth-child(1), .Projects-project-container:nth-child(2) .Projects-project-title {
    color: #EBE4DA;
    /* create a small drop shadow */
    text-shadow: 1px 1px 1px #000;
}
.Projects-project-title {
    bottom: 20px;
    left: 20px;
    position: absolute;
    font-size: 48px;
}
.Projects-project-created {
    bottom: 75px;
    position: absolute;
    left: 20px;
    color: #EBE4DA;
}

@media only screen and (max-width: 850px) {
    .Projects-projects-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .Projects-project-container {
        position: relative;
        width: 100%;
        height: 550px;
        padding: 25px;
        border: 1px solid #0E0E0C;
    }
    .Projects-project-created {
        color: #D7D6D4;
        font-size: 24px;
        position: absolute;
        bottom: 60px;
    }
}